---
layout: default
title: "256 Bloghacks Demo"
description: |
  This demo blog is an illustration
  for '256 Bloghacks' book by Yegor Bugayenko.
keywords:
  - demo blog
  - bloghacks
  - 256 bloghacks
---

{% for post in paginator.posts %}
  <article>
    {{ post.date | date: "%B %-d, %Y" }}
    <h1>{{ post.title }}</h1>
    {{ post.excerpt }}
    <a href="{{ post.url | prepend: site.baseurl }}">Read...</a>
  </article>
{% endfor %}

<article class="center">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">&lt;&lt;</a>
    {% else %}
      <a href="/p/{{ paginator.previous_page }}">&lt;&lt;</a>
    {% endif %}
  {% else %}
    <span class="mute">&lt;&lt;</span>
  {% endif %}
  page {{ paginator.page }} of {{ paginator.total_pages }}
  {% if paginator.next_page %}
    <a href="/p/{{ paginator.next_page }}">&gt;&gt;</a>
  {% else %}
    <span class="mute">&gt;&gt;</span>
  {% endif %}
</article>

