---
layout: default
---

<article itemscope="" itemtype="http://schema.org/BlogPosting">
  <meta itemprop="image" content="/images/tomato.svg"/>
  <meta itemprop="author" content="Yegor Bugayenko"/>
  <div itemscope itemprop="publisher" itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Yegor Bugayenko"/>
  </div>
  <p>
    <span itemprop="datePublished dateModified" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%B %-d, %Y" }}
    </span>
  </p>
  <h1 itemprop="name headline mainEntityOfPage">{{ page.title }}</h1>
  {{ content }}
</article>

<div class="disqus" id="disqus_thread"></div>
<script>
var disqus_config = function () {
  this.page.url = document.location.href.split('?')[0].split('#')[0];
  this.page.identifier = this.page.url;
};
(function() {
    var d = document, s = d.createElement('script');
    s.src = '//yegor256.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<script id="dsq-count-scr" src="//yegor256.disqus.com/count.js" async></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
